<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <button ion-button (click)="load()">Aprieta</button>
  <ion-item text-wrap>{{respuesta|json}}</ion-item>
  <button (click)="getDescripcion()">descripcion</button>
  <ion-item>{{data|json}}</ion-item>
  <ion-item text-wrap>{{data.seccion[0]|json}}</ion-item>
  <div *ngFor="let item of data.seccion">
    <ion-item *ngFor="let items of item.parrafo" >
      <ion-label>{{items.texto}}</ion-label>
    </ion-item>
  </div>
</ion-content>
